atomicwrites==1.2.1
attrs==18.2.0
cycler==0.10.0
future==0.16.0
jsonpickle==0.9.6
kiwisolver==1.0.1
mock==2.0.0
more-itertools==4.3.0
munch==2.3.2
numpy==1.15.2
pathlib2==2.3.2
pbr==4.3.0
probscale==0.2.3
py==1.6.0
pyparsing==2.2.2
pytest==3.8.2
python-dateutil==2.7.3
PyYAML==3.13
requests==2.19.1
sacred==0.7.2
scipy==1.1.0
six==1.11.0
torch==0.4.1
torchvision==0.2.1
whichcraft==0.5.2
wrapt==1.10.11
